@model CSITDemo.Models.StudentModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>StudentModel</h4>
<hr />

@await Html.PartialAsync("_CreateUpdateForm", Model)

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
